---
import TutorBot from "../components/TutorBot.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <Navbar />
  <main>
    <TutorBot />
  </main>
</Layout>
